{
    "printWidth": 100,
    "parser": "flow",
    "trailingComma": "all",
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": true,
    "requirePragma": true
}
